@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body {
    background-color: #C9D7F8;
}

#header {
    background-color: #80CFA9;
    text-align: center;
    padding: 30px 0;
    color: rgb(24, 43, 30);
}

#header h1 {
    margin: auto;
}

#post {
    padding: 20px 0;
    text-align: center;
}

#post span {
    font-weight: 800;
}

#create,
#delete {
    text-align: center;
    padding: 40px 0;
}

#create p,
#delete p {
    padding: 15px 0;
}

#create-post-link-container,
#crud-buttons-container,
#view-admin-link-container {
    margin-top: 20px;
}

a,
.input-btn {
    --c: #229091;
    /* the color*/

    box-shadow: 0 0 0 .1em inset var(--c);
    --_g: linear-gradient(var(--c) 0 0) no-repeat;
    background:
        var(--_g) calc(var(--_p, 0%) - 100%) 0%,
        var(--_g) calc(200% - var(--_p, 0%)) 0%,
        var(--_g) calc(var(--_p, 0%) - 100%) 100%,
        var(--_g) calc(200% - var(--_p, 0%)) 100%;
    background-size: 50.5% calc(var(--_p, 0%)/2 + .5%);
    outline-offset: .1em;
    transition: background-size .4s, background-position 0s .4s;
}

a:hover,
.input-btn:hover {
    --_p: 100%;
    transition: background-position .4s, background-size 0s;
}

a:active,
.input-btn:active {
    box-shadow: 0 0 9e9q inset #0009;
    background-color: var(--c);
    color: #fff;
}

a,
.input-btn {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    cursor: pointer;
    padding: .1em .6em;
    font-weight: bold;
    border: none;
    text-decoration: none;
    color: rgb(24, 43, 30);
}